<!doctype html>
<html ng-app="TicTacToe">
    <head>
        <meta charset="utf-8">
        <title>Tic Tac Toe</title>
        <link rel="stylesheet" href="app/main.css">
    </head>
    <body class="ng-cloak" ng-controller="GameCtrl">

      <h1>Tic Tac Toe</h1>

      <div class="row" ng-repeat="row in game.state.grid">
        <div class="cell winner-{{isCellInWinningLine($parent.$index, $index)}}" ng-repeat="cell in row track by $index" ng-click="addMarker($parent.$index, $index)">
          <div class="marker" ng-if="cell !== null">
            <span class="value-{{cell}}">{{cell ? 'X' : 'O'}}</span>
          </div>
        </div>
      </div>

      <div class="info">
          <div class="reset-buttons">
            <button class="player-first" ng-click="resetGame(false)">Me First</button>
            <button class="ai-first" ng-click="resetGame(true)">AI First</button>
          </div>
          <div>
              <h3>You: {{aiPlayer ? 'O' : 'X'}}</h3>
              <h3 ng-if="game.state.remainingMoves > 0">Player Turn: {{game.state.playerTurn ? 'X' : 'O'}}</h3>
          </div>
          <div ng-if="game.state.remainingMoves === 0">
              <h3>{{getEndGameText()}}</h3>
          </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-animate.js"></script>
      <script src="./out/bundle.js"></script>
    </body>
</html>

