h1, h2, h3 {
  text-align: center;
}

body {
  font-family: Helvetica, sans-serif;
}

body.ng-cloak {
  display: none;
}

div.row {
  margin: 0 auto;
  width: 252px;
  clear: both;
  overflow: hidden;
}

div.cell {
  float: left;
  background-color: #EFEFEF;
  border: 2px solid black;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  transition: 0.35s ease background-color;
}

div.cell:hover {
  background-color: #DEDEDE;
}

div.cell.winner-true {
  background-color: gold !important;
}

div.marker {
  font-size: 36px;
}

span.value-0 {
  color: blue;
}

span.value-1 {
  color: red;
}

div.marker.ng-enter, div.marker.ng-leave {
  transition: 0.35s cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
}

div.marker.ng-enter {
  opacity: 0;
  transform: scale(4, 4);
}

div.marker.ng-enter.ng-enter-active {
  opacity: 1;
  transform: scale(1, 1);
}

div.marker.ng-leave {
  opacity: 1;
  transform: scale(1, 1);
}

div.marker.ng-leave.ng-leave-active {
  opacity: 0;
  transform: scale(4, 4);
}

div.info {
  margin: 0 auto;
  width: 252px;
}

h3 {
  clear: both;
  margin: 0 0 5px;
}

div.reset-buttons {
  width: 220px;
  margin: 10px auto;
  overflow: hidden;
}

button {
  display: block;
  float: left;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  border: 0;
  width: 100px;
  height: 60px;
  background-color: cornflowerblue;
  color: white;
}

button:hover {
  background-color: darkslateblue;
}

button.ai-first {
  float: right;
}
